@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
:root {
--honeydew: #eaf2e3ff;
--fluorescent-cyan: #61e8e1ff;
--bittersweet: #f25757ff;
--maize: #f2e863ff;
--naples-yellow: #f2cd60ff;
}
* {
    margin: 0;
    padding: 0;
}

.app {
}
/*👉NAVBAR👈*/
.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--maize);
font-family: 'Gochi Hand', cursive, sans-serif;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-info > img {
 border: 1px solid red;
 border-radius: 50%;
 width: 40px;
 height: 40px;
}