@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

:root {
    --honeydew: #eaf2e3ff;
    --fluorescent-cyan: #61e8e1ff;
    --bittersweet: #f25757ff;
    --maize: #f2e863ff;
    --naples-yellow: #f2cd60ff;
}
html,
body,
#app,
#app > div {
    height: 100%;
    background-color: var(--fluorescent-cyan);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Gochi Hand", cursive, sans-serif;
    letter-spacing: 0.6px;
}

/*👉NAVBAR👈*/
.navbar-container {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    height: 82px;
    background-color: var(--maize);
    font-family: "Gochi Hand", cursive, sans-serif;
    box-shadow: 0px -1px 11px 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px -1px 11px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 11px 5px rgba(0, 0, 0, 0.75);
}
.navbar-container > img {
    padding: 20px;
}
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
.user-info > img {
    border: 1px solid var(--bittersweet);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.nav-list {
    position: fixed;
    background-color: var(--maize);
    top: 81px;
    right: 0px;
    width: 150px;
    box-shadow: -2px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 6px 5px 0px rgba(0, 0, 0, 0.75);
}
.nav-list > li {
    padding: 10px;
    list-style: none;
    cursor: pointer;
}
.nav-list > li:hover {
    background-color: var(--bittersweet);
}

.nav-list > form {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.add-button {
    position: fixed;
    top: 90px;
    right: 5px;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    opacity: 0.7;
    font-size: 3rem;
    z-index: 99;
    cursor: pointer;
}

/*👉LOGIN👈*/
.login-container {
    position: absolute;
    display: flex;
    top: 30%;
    bottom: 30%;
    left: 25%;
    right: 25%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
.login-container > form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
}
.login-container > form input {
    text-align: center;
}
.error-message {
    color: red;
    font-size: 0.55rem;
}
.google-button {
    width: 140px;
}
/*👉LOGOUT👈*/
.logout {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 999;
}
.logout > button {
    background-color: var(--bittersweet);
    border-radius: 6px;
    color: var(--maize);
}

/*👉CARDS👈*/
.cards-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 50px;
}
.loading {
    margin-top: 50%;
}
.card {
    width: 80%;
    background-color: var(--honeydew);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 2px 5px 15px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 5px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 5px 15px 0px rgba(0, 0, 0, 0.75);
}
.poster-details {
    display: flex;
    align-items: center;
    align-self: flex-start;
}
.poster-avatar {
    object-fit: cover;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 10px;
}
.card > h4 {
    align-self: flex-start;
    padding: 6px;
}
.card-photo {
    width: 80%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}
.date-thumb-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding: 5px;
}
.posted-date {
    font-size: 0.6rem;
}
.card-description {
    padding: 6px;
}
.date-thumb-container > div {
    display: flex;
    align-items: center;
}
.thumb-up-icon {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
/*👉ADD TO CARDS FORM👈*/
.add-to-cards-form {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--maize);
}
.photo-upload {
    cursor: pointer;
    margin-top: 50px;
}

.add-to-cards-form > label > textarea {
    width: 300px;
    height: 200px;
    padding: 10px;
}
.add-to-cards-form > button {
    width: 130px;
    height: 60px;
    border-radius: 6px;
}
.submit-photo-button {
    background-color: rgb(57, 234, 57);
}
.cancel-photo-button {
    background-color: var(--bittersweet);
}
/*👉COMMENTS👈*/

.description-comments-container {
    background-color: var(--bittersweet);
    height: 120px;
    box-sizing: border-box;
    width: 80%;
    margin-top: 4px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.description-comments-button-container {
    display: flex;
    justify-content: space-evenly;
}
.description-comments-button-container > button {
    width: 100%;
    cursor: pointer;
}
.description-comments {
    height: 100%;
}
.comments-container {
    position: relative;
    height: 100%;
}
.comment-info-container {
    overflow-y: scroll;
    height: 80px;
}
.single-comment {
    padding: 2px;
}
.single-comment * p {
    font-size: 0.7rem;
}
.commenter-info {
    display: flex;
    align-items: center;
    gap: 3px;
}
.commenter-info > img {
    width: 15px;
    border-radius: 50%;
    padding: 2px;
}
.comment-text > p {
    margin-left: 15px;
    margin-right: 15px;
    padding: 2px;
    background-color: var(--maize);
    border-radius: 6px;
    font-size: 0.6rem;
}

.comment-form {
    display: grid;
    grid-template-columns: 4fr 1fr;
    position: absolute;
    bottom: 0;
    width: 100%;
    align-content: stretch;
    border-collapse: collapse;
    border: none;
}
.comment-form button {
    background-color: rgb(57, 234, 57);
    border-radius: 6px;
}

@media only screen and (min-width: 600px) {
    .login-container {
        left: 35%;
        right: 35%;
    }
    .login-container > form input {
        text-align: center;
        height: 30px;
        font-size: 1.2rem;
    }
    .login-container > form  button {
        text-align: center;
        height: 30px;
        font-size: 1.2rem;
    }
    .google-button {
        width: 200px;
        height: 35px;
        font-size: 1.2rem;
    }
    .error-message {
        font-size: 1.1rem;
    }

    .card {
        width: 50%;
    }
    .card-photo {
        height: 300px;
    }
    .posted-date {
        font-size: 0.8rem;
    }
    .add-button {
        top: 110px;
        right: 20px;
        width: 155px;
        height: 155px;
    }
}
